.dbContainer {
    height: 100%;
    
}
.dbContainer > h1 {
    font-size: 24px;
}
.dbContainer i {
    font-size: 12px;
}
.dbContainer table {
    width: 100%;
    border: none;
    /* background-color: blue; */

}
.dbContainer > table > tbody {
    /* background-color: white; */
}
.dbContainer > table > tbody > tr {
    border-bottom: 1px solid black;
    border: none;
}